@font-face {
    font-family: 'KC';
    src: url('PaulSlab-Bold-Trail.otf') format('opentype');
}

@font-face {
    font-family: 'h2+livesFont';
    src: url('TraditionSansXLight.ttf') format('opentype');
}

@font-face {
    font-family: 'ButtonFont';
    src: url('ITC Franklin Gothic LT Demi Regular.otf') format('opentype');
}

@font-face {
    font-family: 'WordlistFont';
    src: url('Franklin Gothic Book Regular.ttf') format('opentype');
}

h1 {
    font-family: 'KC', sans-serif;
    display: inline-block;
    margin-right: 15px;
}

.date-text {
    font-family: 'WordlistFont', sans-serif;
    font-size: 24px;
    display: inline-block;
}

h2 {
    font-family: "h2+livesFont", sans-serif;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#game-container {
    margin: 0 auto;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 75px);
    grid-gap: 0.5em 0.5em; 
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

    .button-grid button {
        width: 100%; 
        height: 100%;
        overflow: hidden;
        font-size: 18px;
        cursor: pointer;
        font-family: 'ButtonFont', sans-serif;
        text-transform: uppercase;
        background-color: #EFEFE6;
        border-radius: 10px;
        border: none;
        outline: none;
        text-align: center;
    }

        .button-grid button.selected {
            background-color: #5a594e;
            color: white;
        }

.button-action {
    padding: 10px 20px;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'ButtonFont', sans-serif;
    border: none;
    text-transform: none;
    border-radius: 50px;
    outline: none;
    background-color: white;
    color: black;
    border: 0.5px solid black;
    text-align: center;
    justify-content: center;
}

    .button-action:disabled {
        opacity: 0.5;
    }

#submit.selected {
    background-color: black;
    color: white;
    border: 2px solid black;
}

.selected {
    background-color: #5a594e;
    color: white;
}

.theme-button {
    grid-column: 1 / span 4;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#lives-display {
    font-family: "h2+livesFont", sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

    #lives-display #lives {
        font-size: 40px;
        color: #5a594e;
        letter-spacing: 2px;
    }

/*.start_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #b3a3fb;
    color: black;
    text-align: center;
    line-height: 90vh;
}*/

.title-line {
    border: none;
    border-top: 0.5px double black;
    margin: 10px 0; 
}